@import "tailwindcss";

/* estilos.css o App.css */
.custom-scroll {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #3b82f6 transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 6px;
}
